:root{
  --black: #161925;
  --yellow: #F1D302;
  --red: #C1292E;
  --blue: #235789;
  --white: #FDFFFC;
}

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&family=Roboto:wght@300;400&display=swap');

*{padding:0;margin:0;box-sizing:border-box;resize:none;border:none;}
body{color:var(--white);background:var(--black);}
figcaption{font-size:15px;line-height:20px;}
figcaption h3{font-size:22px;}
figcaption span{color:var(--yellow);}
figcaption a{color:var(--white);}
figcaption a:hover{color:var(--red);}
h2{text-transform:uppercase;}
progress{height:30px;width:750px;max-width:100%;padding:0 0 0 10px;}
progress::-moz-progress-bar{background:lightcolor;}
progress::-webkit-progress-value{background:var(--white);}
progress::-webkit-progress-bar{background:gray;}
.btn{border:1px solid var(--white);color:var(--white);background:none;padding:15px 50px;display:inline-block;text-decoration:none;font-size:20px;}
.btn:hover{background:var(--blue);}

.wrapper{width:100%;max-width:1080px;margin:0 auto;position:relative;font:600 45px/100% Archivo,sans-serif;}

header{background:var(--black);display:flex;justify-content:space-between;min-height:100vh;align-items:center;position:relative;z-index:5;}
  header h1{font-size:90px;line-height:100%;}
  header h1 span{display:block;}
  header figure{width:400px;position:relative;}
  header figure figcaption{text-align:right;}
  header figure img{max-width:100%;height:600px;position:relative;}

  .scroll{position:absolute;bottom:20px;left:50%;transform:translateX(-50%);text-align:center;}
  .scroll img{animation:shake 0.5s;animation-iteration-count:infinite;animation-delay:1s;}
  .scroll span{display:block;font-size:13px;line-height:0;margin:5px 0 0;}

.about-me{padding:200px 0 250px 60px;background:var(--black);position:relative;z-index:5;}
  .about-me h2{font-size:20px;transform:rotate(-90deg);position:absolute;top:230px;left:-35px;}

.my-work{background:var(--black);position:relative;z-index:5;}
  .my-work h2{margin:0 0 10px;font-size:20px;text-align:center;}
  .my-work p{margin:0 0 40px;text-align:center;}
  .my-work div{display:flex;justify-content:space-between;flex-wrap:wrap;}
  .my-work figure{width:45%;margin:0 auto 50px;position:relative;height:100%;}
  .my-work figure:hover:before{content:"";width:100.5%;height:50%;background:linear-gradient(to bottom, rgba(35,87,137,.7), rgba(35,87,137,0));position:absolute;top:0;left:50%;transform:translateX(-50%);z-index:5;}
  .my-work figure img{width:100%;position:relative;z-index:3;}

.comments{padding:200px 0 250px 60px;background:var(--black);position:relative;z-index:5;}
  .comments div h2{font-size:20px;transform:rotate(-90deg);position:absolute;top:235px;left:-35px;}
  .comments .commenter{font:400 20px/100% Roboto,sans-serif;margin:40px 0 0;}
  .comments a{margin:40px 0 0;}

.my-image{height:450px;}
  .my-image figure{position:fixed;top:0;left:50%;transform:translateX(-50%);width:1079px;}
  .my-image img{width:100%;}

.expertise{padding:200px 0 250px 60px;background:var(--black);position:relative;z-index:5;}
  .expertise h2{font-size:20px;transform:rotate(-90deg);position:absolute;top:238px;left:-35px;}
  .expertise p{margin:0 0 40px;}
  .expertise h3{font-size:30px;margin:0 0 5px;color:var(--yellow);}

  .work{padding:0 0 0 15px;}
  .work h3{font-size:25px;margin:0 10px 15px;color:var(--white);}
  .work h3 em{display:block;color:gray;font-size:20px;margin:-15px 0 0;}
  .work p{font-size:20px;line-height:30px;width:750px;max-width:100%;margin:0 0 40px 10px;}
  .work li::marker{font-size:30px;content:"\00BB";position:absolute;}

  .lang{list-style:none;margin:20px 0 0;}
  .lang li{display:inline-block;margin:0 10px 30px 0;}
  .lang li:hover{color:gray;}

footer{background:var(--black);position:relative;z-index:5;}
  .map{height:350px;position:relative;}
  /* .map:before{content:"";width:100%;height:100%;background:rgba(22, 25, 37, .7);position:absolute;top:0;left:0;z-index:3;} */
  .map iframe{position:relative;width:100%;height:100%;border:0;}

  .contact-me{padding:200px 0 250px 60px;background:var(--black);position:relative;z-index:5;}
  .contact-me h2{font-size:20px;transform:rotate(-90deg);position:absolute;top:240px;left:-35px;}
  .contact-me p{width:86%;margin:0 0 0;}
  .contact-me p span{display:block;font-size:30px;margin:40px 0 0;color:var(--white)}
  .contact-me p mark{display:inline-block;padding:5px 10px;}
  .contact-me p a{color:var(--white);margin:0 10px 0 0;}
  .contact-me p a:hover{color:gray;}

  .copyright{text-align:center;padding:0 0 20px;font-size:20px;}
  .copyright a{color:var(--white);}
  .copyright a:hover{color:var(--red);}


/* ANIMATIONS */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  /* 10% { transform: translate(-1px, -2px) rotate(-1deg); } */
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  /* 30% { transform: translate(3px, 2px) rotate(0deg); } */
  40% { transform: translate(1px, -1px) rotate(1deg); }
  /* 50% { transform: translate(-1px, 2px) rotate(-1deg); } */
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  /* 70% { transform: translate(3px, 1px) rotate(-1deg); } */
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  /* 90% { transform: translate(1px, 2px) rotate(0deg); } */
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
